<app-header></app-header>
<app-menu *ngIf="canShowMenu"></app-menu>
<div class="ui-g-12 ui-md-12 ui-lg-12 content">
    <p-panel>
        <p-header>
            <div class="ui-g panel-header">
                <div class="ui-g-5 dashboard">FCI Hired From</div>
                <div class="ui-g-12 ui-md-7 dashboard" style="padding-left: 45%">
                    <input class="search-masters" type="text"  [(ngModel)]="searchText" pInputText
                        placeholder="Search by HiredName" (ngModelChange)="onSearch($event)">
                </div>
            </div>
        </p-header>
        <p-toast position="top-center" key="t-err"></p-toast>
        <div class="ui-g ui-fluid">
            <div class="ui-g-6 ui-md-2">
                <span class="ui-float-label">
                    <input name="hiredfromid" type="text" appInputFormat="digitOnly" pInputText [(ngModel)]="hiredfromId" autocomplete="off" required>
                    <label for="hiredfromid" class="float-input">Hired From ID: <span
                            class="form-mandatory-field">*</span></label>
                </span>
            </div>
            <div class="ui-g-6 ui-md-2">
                <span class="ui-float-label">
                    <input name="hiredfromname" type="text" pInputText [(ngModel)]="hiredfromName" autocomplete="off" required>
                    <label for="hiredfromname" class="float-input">Hired From Name: <span
                            class="form-mandatory-field">*</span></label>
                </span>
            </div>
            <div class="ui-g-3 ui-md-2 ui-fluid" style="padding-left: 30px;">
                <button pButton type="button" label=Save (click)="onSave()"
                    [disabled]="(!hiredfromId || !hiredfromName)"></button>                
            </div> 
            <div class="ui-g-3 ui-md-2 ui-fluid" style="padding-left: 30px;">
            <button  pButton type="button" label=View (click)="onView()"
            ></button>
        </div>
        </div>
        <p-table #dt [columns]="fcihiredfromCols" [value]="fcihiredfromData" [rows]="20"
        [rowsPerPageOptions]="[10,20,30,40,50,100]" [paginator]="true" [loading]="loading"
        [responsive]="true" exportFilename="FCI_HIREDFROM_MASTER" autoLayout="true">
        <ng-template pTemplate="header" let-columns>
            <tr style="text-align: center;">
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
            <tr [pSelectableRow]="rowData" (dblclick)="onRow($event, rowData)">
                <td *ngFor="let col of columns">
                    {{rowData[col.field]}}
                </td>
            </tr>
        </ng-template>
    </p-table>
    </p-panel>
</div>
